@font-face {
  font-family: 'Gobold'; 
  src: url('../fonts/gobold/Gobold_Bold.ttf');
}

/*"Gobold Bold"*/

html, body{
  background-color: #171717;
  color:#878787;
  padding:0;
  margin:0;
  height:100%;
  width:100%;
  overflow-y: hidden;
}

.force-load-font {
  font-family: 'Gobold'; 
  opacity: 0;
  position: absolute;
  top: -2000px;
  left: -2000px;  
}

.pjs-meta {
  position: absolute;
}